---
http_interactions:
- request:
    method: get
    uri: https://themealdb.com/api/json/v1/1/search.php?s=peas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52941","strMeal":"Red Peas Soup","strDrinkAlternate":null,"strCategory":"Beef","strArea":"Jamaican","strInstructions":"Wash
        and rinse the dried kidney beans.. then cover with water in a deep bowl. Remember
        as they soak they will expand to at least triple the size they were originally
        so add a lot of water to the bowl. Soak them overnight or for at least 2 hrs
        to make the cooking step go quicker. I tossed out the water they were soaked
        in after it did the job.\r\n\r\nHave your butcher cut the salted pigtail into
        2 inch pieces as it will be very difficult to cut wit[...]
