---
http_interactions:
- request:
    method: get
    uri: https://themealdb.com/api/json/v1/1/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"53037","strMeal":"Coddled pork with cider","strDrinkAlternate":null,"strCategory":"Pork","strArea":"Irish","strInstructions":"STEP
        1\r\nHeat the butter in a casserole dish until sizzling, then fry the pork
        for 2-3 mins on each side until browned. Remove from the pan.\r\n\r\nSTEP
        2\r\nTip the bacon, carrot, potatoes and swede into the pan, then gently fry
        until slightly coloured. Stir in the cabbage, sit the chops back on top, add
        the bay leaf, then pour over the cider and stock. Cover the pan, then leave
        everything to gently simmer for 20 mins until the pork is cooked through and
        the vegetables are tender.\r\n\r\nSTEP 3\r\nServe at the table spooned straight
        from the dish.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/7vpsfp1608588991.jpg","strTags":null,"strYoutube":"https:\/\/www.youtube.com\/watch?v=ftn_4mc-65o","strIngredient1":"Butter","strIngredient2":"Pork
        Chops","strIngredient3":"Bacon","strIngredient4":"Potatoes","strIngredient5":"Carrots","strIngredient6":"Swede","strIngredient7":"Cabbage","strIngredient8":"Bay
        Leaf","strIngredient9":"Cider","strIngredient10":"Chicken Stock","strIngredient11":"","strIngredient12":"","strIngredient13":"","strIngredient14":"","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"Knob","strMeasure2":"2","strMeasure3":"4","strMeasure4":"2","strMeasure5":"1","strMeasure6":"1\/2
        ","strMeasure7":"1\/2 ","strMeasure8":"1","strMeasure9":"100ml","strMeasure10":"100g
        ","strMeasure11":" ","strMeasure12":" ","strMeasure13":" ","strMeasure14":"
        ","strMeasure15":" ","strMeasure16":" ","strMeasure17":" ","strMeasure18":"
        ","strMeasure19":" ","strMeasure20":" ","strSource":"https:\/\/www.bbcgoodfood.com\/recipes\/irish-coddled-pork-cider","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Thu, 09 Jun 2022 15:54:58 GMT
recorded_with: VCR 6.1.0
