---
http_interactions:
- request:
    method: get
    uri: https://themealdb.com/api/json/v1/1/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52806","strMeal":"Tandoori chicken","strDrinkAlternate":null,"strCategory":"Chicken","strArea":"Indian","strInstructions":"Mix
        the lemon juice with the paprika and red onions in a large shallow dish. Slash
        each chicken thigh three times, then turn them in the juice and set aside
        for 10 mins.\r\nMix all of the marinade ingredients together and pour over
        the chicken. Give everything a good mix, then cover and chill for at least
        1 hr. This can be done up to a day in advance.\r\nHeat the grill. Lift the
        chicken pieces onto a rack over a baking tray. Brush over a little oil and
        grill for 8 mins on each side or until lightly charred and completely cooked
        through.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/qptpvt1487339892.jpg","strTags":"Spicy,Meat","strYoutube":"https:\/\/www.youtube.com\/watch?v=-CKvt1KNU74","strIngredient1":"lemons","strIngredient2":"paprika","strIngredient3":"red
        onions","strIngredient4":"chicken thighs","strIngredient5":"vegetable oil","strIngredient6":"Greek
        yogurt","strIngredient7":"ginger","strIngredient8":"garlic clove","strIngredient9":"garam
        masala","strIngredient10":"ground cumin","strIngredient11":"chilli powder","strIngredient12":"turmeric","strIngredient13":"","strIngredient14":"","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"2
        Juice","strMeasure2":"4 tsp","strMeasure3":"2 finely chopped","strMeasure4":"16
        skinnless","strMeasure5":"For brushing","strMeasure6":"300ml ","strMeasure7":"large
        piece","strMeasure8":"4","strMeasure9":"\u00be tsp","strMeasure10":"\u00be
        tsp","strMeasure11":"\u00bd tsp","strMeasure12":"\u00bc tsp","strMeasure13":"","strMeasure14":"","strMeasure15":"","strMeasure16":"","strMeasure17":"","strMeasure18":"","strMeasure19":"","strMeasure20":"","strSource":"http:\/\/www.bbcgoodfood.com\/recipes\/1660651\/tandoori-chicken","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Thu, 09 Jun 2022 21:25:00 GMT
recorded_with: VCR 6.1.0
