---
http_interactions:
- request:
    method: get
    uri: https://themealdb.com/api/json/v1/1/filter.php?i=tomato
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":"Brown Stew Chicken","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/sypxpx1515365095.jpg","idMeal":"52940"},{"strMeal":"Callaloo
        Jamaican Style","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/ussyxw1515364536.jpg","idMeal":"52939"},{"strMeal":"Chivito
        uruguayo","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/n7qnkb1630444129.jpg","idMeal":"53063"},{"strMeal":"Kapsalon","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/sxysrt1468240488.jpg","idMeal":"52769"},{"strMeal":"Lasagna
        Sandwiches","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/xr0n4r1576788363.jpg","idMeal":"52987"},{"strMeal":"Matar
        Paneer","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/xxpqsy1511452222.jpg","idMeal":"52865"},{"strMeal":"Moussaka","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/ctg8jd1585563097.jpg","idMeal":"53006"},{"strMeal":"Ratatouille","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/wrpwuu1511786491.jpg","idMeal":"52908"},{"strMeal":"Vegetarian
        Casserole","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/vptwyt1511450962.jpg","idMeal":"52863"}]}'
  recorded_at: Thu, 09 Jun 2022 15:40:58 GMT
recorded_with: VCR 6.1.0
