---
http_interactions:
- request:
    method: get
    uri: https://themealdb.com/api/json/v1/1/filter.php?i=chicken
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":"Brown Stew Chicken","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/sypxpx1515365095.jpg","idMeal":"52940"},{"strMeal":"Chicken
        & mushroom Hotpot","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/uuuspp1511297945.jpg","idMeal":"52846"},{"strMeal":"Chicken
        Alfredo Primavera","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/syqypv1486981727.jpg","idMeal":"52796"},{"strMeal":"Chicken
        Basquaise","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/wruvqv1511880994.jpg","idMeal":"52934"},{"strMeal":"Chicken
        Congee","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/1529446352.jpg","idMeal":"52956"},{"strMeal":"Chicken
        Handi","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/wyxwsp1486979827.jpg","idMeal":"52795"},{"strMeal":"Kentucky
        Fried Chicken","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/xqusqy1487348868.jpg","idMeal":"52813"},{"strMeal":"Kung
        Pao Chicken","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/1525872624.jpg","idMeal":"52945"},{"strMeal":"Pad
        See Ew","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/uuuspp1468263334.jpg","idMeal":"52774"},{"strMeal":"Piri-piri
        chicken and slaw","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/hglsbl1614346998.jpg","idMeal":"53039"},{"strMeal":"Thai
        Green Curry","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/sstssx1487349585.jpg","idMeal":"52814"}]}'
  recorded_at: Thu, 09 Jun 2022 13:28:27 GMT
recorded_with: VCR 6.1.0
