---
http_interactions:
- request:
    method: get
    uri: https://themealdb.com/api/json/v1/1/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52831","strMeal":"Chicken Karaage","strDrinkAlternate":null,"strCategory":"Chicken","strArea":"Japanese","strInstructions":"Add
        the ginger, garlic, soy sauce, sake and sugar to a bowl and whisk to combine.
        Add the chicken, then stir to coat evenly. Cover and refrigerate for at least
        1 hour.\r\n\r\nAdd 1 inch of vegetable oil to a heavy bottomed pot and heat
        until the oil reaches 360 degrees F. Line a wire rack with 2 sheets of paper
        towels and get your tongs out. Put the potato starch in a bowl\r\n\r\nAdd
        a handful of chicken to the potato starch and toss to coat each piece evenly.\r\n\r\nFry
        the karaage in batches until the exterior is a medium brown and the chicken
        is cooked through. Transfer the fried chicken to the paper towel lined rack.
        If you want the karaage to stay crispy longer, you can fry the chicken a second
        time, until it''s a darker color after it''s cooled off once. Serve with lemon
        wedges.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/tyywsw1505930373.jpg","strTags":null,"strYoutube":"https:\/\/www.youtube.com\/watch?v=XivddFddthc","strIngredient1":"Chicken
        thigh","strIngredient2":"Ginger","strIngredient3":"Garlic","strIngredient4":"Soy
        sauce","strIngredient5":"Sake","strIngredient6":"Granulated sugar","strIngredient7":"Potato
        starch","strIngredient8":"Vegetable oil","strIngredient9":"Lemon","strIngredient10":"","strIngredient11":"","strIngredient12":"","strIngredient13":"","strIngredient14":"","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"450
        grams Boneless skin","strMeasure2":"1 tablespoon","strMeasure3":"1 clove","strMeasure4":"2
        tablespoons","strMeasure5":"1 tablespoon","strMeasure6":"2 teaspoon","strMeasure7":"1\/3
        cup","strMeasure8":"1\/3 cup","strMeasure9":"1\/3 cup","strMeasure10":"","strMeasure11":"","strMeasure12":"","strMeasure13":"","strMeasure14":"","strMeasure15":"","strMeasure16":"","strMeasure17":"","strMeasure18":"","strMeasure19":"","strMeasure20":"","strSource":"https:\/\/norecipes.com\/karaage-recipe","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Thu, 09 Jun 2022 21:25:04 GMT
recorded_with: VCR 6.1.0
