---
http_interactions:
- request:
    method: get
    uri: https://themealdb.com/api/json/v1/1/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52881","strMeal":"Steak and Kidney Pie","strDrinkAlternate":null,"strCategory":"Beef","strArea":"British","strInstructions":"Preheat
        the oven to 220C\/425F\/Gas 7\r\nHeat the vegetable oil in a large frying
        pan, and brown the beef all over. (You may need to do this in batches.) Set
        aside, then brown the kidneys on both sides in the same pan. Add the onions
        and cook for 3-4 minutes.\r\nReturn the beef to the pan, sprinkle flour over
        and coat the meat and onions\r\nAdd the stock to the pan, stir well and bring
        to the boil.\r\nTurn the heat down and simmer for 1\u00bd hours without a
        lid. If the liquid evaporates too much, add more stock.\r\nRemove from the
        heat. Add salt, pepper and Worcestershire sauce and allow to cool completely.
        Place the cooked meat mixture into a pie dish.\r\nRoll out the pastry to 5mm\/\u00bcin
        thick and 5cm\/2in larger than the dish you are using.\r\nUsing a rolling
        pin, lift the pastry and place it over the top of the pie dish. Trim and crimp
        the edges with your fingers and thumb.\r\nBrush the surface with the beaten
        egg mixture and bake for 30-40 minutes until golden-brown and puffed.\r\nServe
        with creamy mash and steamed vegetables to soak up the gravy.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/qysyss1511558054.jpg","strTags":"Pie","strYoutube":"https:\/\/www.youtube.com\/watch?v=oTw5tPt4KmA","strIngredient1":"Puff
        Pastry","strIngredient2":"Egg White","strIngredient3":"Egg Yolks","strIngredient4":"Vegetable
        Oil","strIngredient5":"Beef","strIngredient6":"Lamb Kidney","strIngredient7":"Onions","strIngredient8":"Plain
        Flour","strIngredient9":"Beef Stock","strIngredient10":"Salt","strIngredient11":"Pepper","strIngredient12":"Worcestershire
        Sauce","strIngredient13":null,"strIngredient14":"","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"300g","strMeasure2":"Beaten","strMeasure3":"Beaten","strMeasure4":"2
        tbs","strMeasure5":"70 ml ","strMeasure6":"200g","strMeasure7":"2 chopped","strMeasure8":"30g","strMeasure9":"85
        ml ","strMeasure10":"pinch","strMeasure11":"pinch","strMeasure12":"Dash","strMeasure13":"","strMeasure14":"","strMeasure15":"","strMeasure16":"","strMeasure17":"","strMeasure18":"","strMeasure19":"","strMeasure20":"","strSource":"https:\/\/www.bbc.co.uk\/food\/recipes\/steakandkidneypie_73308","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Thu, 09 Jun 2022 16:07:40 GMT
recorded_with: VCR 6.1.0
